.card {
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    padding: 1.5rem;
    border-radius: 8px;
    border-left: 4px solid rgb(9, 8, 11);

    position: relative;
    margin-bottom: 2rem;
    /* padding-left: 50px; */
    background-color: rgb(17, 84, 93);
    margin-left: 50px;
}

/* using pseudo elements */

.card::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    width: 10px;
    height: 10px;
    left: -40px;
    border-radius: 50%;
    border: 3px solid white;
}